@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 10px;
    font-family: 'Nunito', sans-serif; /* https://fonts.google.com/specimen/Nunito */
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #4b3f72; /* https://flatuicolors.com/palette/de */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco {
    /*background-color: #f1f1f140;
    backdrop-filter: blur(10px);
    min-width: 35rem;
    min-height: 60vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 2px 4px 10px #57657470;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.div_iza, .div_pitty, .div_gloria {
    /*display: flex;
    flex-direction: column;
    width: 100%;*/
    background-color: #f1f1f140;
    backdrop-filter: blur(10px);
    min-width: 35rem;
    min-height: 60vh;
    padding: 3rem;
    margin-left: 3%;
    border-radius: 2rem;
    box-shadow: 2px 4px 10px #57657470;
}

#img_iza, #img_pitty, #img_gloria{
    margin: 1rem auto 0 auto;
    border-radius: 50%;
    border: solid 2px #d1b1cb30;
    display: block;
}

#titulo_iza, #titulo_pitty, #titulo_gloria {
    margin: 2rem 0 1rem 0;
    font-size: 4.2rem;
    color: #f3f3f399;
    text-align: center;
}

#titulo_iza:hover{
    color: #542652;
    transition: linear .4s;
}

#titulo_pitty:hover{
    color: #542652;
    transition: linear .4s;
}

#titulo_gloria:hover{
    color: #542652;
    transition: linear .4s;
}

.genero, .disco {
    font-size: 1.8rem;
    color: #f3f3f399;
    font-weight: 600;
    text-align: center;
}

hr {
    margin: 1rem 0;
    opacity: .2;
}

.texto {
    font-size: 1.3rem;
    color: #f3f3f399;
    margin-left: 1.5rem;
    font-weight: 600;
}

.fab {
    margin-top: 1.8rem;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    filter: drop-shadow(1px 1px 1px #57657490);
} 

