@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 10px;
  font-family: 'Nunito', sans-serif; /* https://fonts.google.com/specimen/Nunito */
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #8854d0; /* https://flatuicolors.com/palette/de */
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-wrapper {
  background-color: #f1f1f140;
  backdrop-filter: blur(10px);
  min-width: 35rem;
  min-height: 60vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 2px 4px 10px #57657470;
}

#photography {
  margin-top: 1rem;
  border-radius: 50%;
  border: solid 2px #a55eea50;
}

#title {
  margin: 2rem 0 1rem 0;
  font-size: 4rem;
  color: #f3f3f399;
}

.infos-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tipography {
  font-size: 1.6rem;
  color: #f3f3f399;
  font-weight: 600;
}

hr {
  margin: 1rem 0;
  opacity: .2;
}

.dynamic-text {
  font-size: 1.3rem;
  color: #f3f3f399;
  margin-left: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.fab {
  margin-top: 1.8rem;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  filter: drop-shadow(1px 1px 1px #57657490);
} 
