@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 10px;
    font-family: 'Nunito', sans-serif; /* https://fonts.google.com/specimen/Nunito */
   
  }

   body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,84,173,0.6227533249627977) 35%, rgba(0,212,255,1) 100%); /* https://flatuicolors.com/palette/de */
    display: flex;
    justify-content: center;
    align-items: center;  
    color:white;
    
} 

.caixas{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  
  
  
}
.cantoras{
  margin: 4rem;
  padding: 4rem;
  background: -webkit-linear-gradient(-10deg, rgb(240, 20, 161), rgb(15, 21, 66));
  background: linear-gradient(-10deg, rgb(240, 20, 161), rgb(15, 21, 66));
  border-radius: 2rem;
  text-align: center;
  min-width: 20rem;
  min-height:50vh;
  box-shadow: 2px 4px 10px #f7f8fa70;
 
 


}
hr {
  margin: 1rem 0;
  opacity: .2;
}

.dynamic-text {
  font-size: 1.3rem;
  color: #4169E1;
  margin-left: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  
  
  
}
.title {
  margin: 2rem 0 1rem 0;
  font-size: 4rem;
  color: #FFFFF0;
  box-shadow: 20px  #1b3b7a70;
}

.infos-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 1.5rem;
}

.tipography {
  font-size: 1.6rem;
  color: #FFFFF0;
  font-weight: 600;
  text-align: left;
  padding: 1.5rem;
 
}
.photography {
  margin-top: 1rem;
  border-radius: 50%;
  border: solid 3px #2a0c4950;
}
.fab {
  margin-top: 1.8rem;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  filter: drop-shadow(1px 1px 1px #57657490);
} 
footer {
  color: #ffffff;
  background: linear-gradient(-10deg, rgb(240, 20, 161), rgb(15, 21, 66));
  justify-content: center;
  width: 100%;
  margin-left: 0;
  text-align: center;
  padding: 1.5rem;
  
}
.footer-c{
  font-size:15px;
 
}

 
  
